.vs/LevelDesign/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/LevelDesign/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
.vs/LevelDesign/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
.vs/LevelDesign/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/LevelDesign/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
.vs/LevelDesign/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
.vs/LevelDesign/FileContentIndex/34daad5a-301b-4215-b017-80ff4958c921.vsidx
.vs/LevelDesign/FileContentIndex/3ed8b2fc-1d81-4470-ac0e-2a834313138a.vsidx
.vs/LevelDesign/FileContentIndex/53c930b0-81cb-4156-80a1-80fea6507149.vsidx
.vs/LevelDesign/FileContentIndex/77b106ce-7916-4e30-8fb0-631ca3e7f4a1.vsidx
.vs/LevelDesign/FileContentIndex/7be51267-c358-4603-835d-7dfa80da08ad.vsidx
.vs/LevelDesign/FileContentIndex/a96bc97e-eb52-4543-bbeb-5e78c716d1db.vsidx
.vs/LevelDesign/FileContentIndex/cf901e34-c247-45f2-9c4e-39d83457a8a2.vsidx
.vs/LevelDesign/FileContentIndex/d99efbe7-6d85-40f3-a393-4b960e2f8c64.vsidx
.vs/LevelDesign/FileContentIndex/ff6d1424-ce27-48b8-a9cc-f1c6a4cfe2c1.vsidx
.vs/LevelDesign/v17/Browse.VC.db
.vs/LevelDesign/v17/Browse.VC.db-shm
.vs/LevelDesign/v17/Browse.VC.db-wal
.vs/LevelDesign/v17/Browse.VC.opendb
.vs/LevelDesign/v17/Solution.VC.db
.vs/LevelDesign/v17/Solution.VC.db-shm
.vs/LevelDesign/v17/Solution.VC.db-wal
.vs/LevelDesign/BlueprintCache/LevelDesign.json
*.vsidx
